@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*VAR*/
:root {
  --red-bg: #e06666;
}
/*SIDE BAR*/
.header {
  height: 100vh;
}

.pro-sidebar{
  color: #eee;
}
.pro-sidebar > .pro-sidebar-inner {
  background: var(--red-bg) !important;
  height: 100%;  
  margin: 0 0 4px 0;
}

.App{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.homeTitle{
  color: var(--red-bg);
  font-weight: 800;
  font-size: 1.8rem;
}
.userCard{
  display: flex;
  align-items: flex-start;
  font-size:2rem;
  color: var(--red-bg);

}
.userCard h5{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.userCard p{
  font-size: 1rem;
}
.userCard--text{
  margin-left: .5rem;
  display: flex;
  flex-direction: column;
}

.pro-sidebar .pro-menu .pro-menu-item{
  font-size: 1.5rem ;
  color: #eee;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover , .pro-icon:hover{
  background-color: #eee;
  color: #e06666;
}

.menu-button {
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: 0px 0px 1px rgb(50, 50, 50);
  display: flex;
  align-items: center;
}

.menu-button svg {
  display: flex;
  width: 30px;
  height: 30px;
  color: #fff;
  margin: 0px 25px;
}

.menu-button svg:hover{
  background-color: #eee;
  color: #e06666;
  border-radius: 2px;
}

.logotext {
  padding: 20px 30px;
  font-size: 30px;
  color: #fff;
}

.user {
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-evenly;
  width: 80%;
  padding: 10px;
}

.user img {
  width: 70px;
  height: auto;
  border-radius: 100px;
}

.pro-sidebar-footer {
  height: 100px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 624px) {
  .menu-button {
    display: none;
  }
}

/*FOOTER COMPONENT*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  background-color: var(--red-bg);
}

footer h6 {
  color: #ffff;
  font-size: 1.4em;
}
